<div class="contenido">
    <div *ngFor="let resultado of data.results">
        <div class="general" (click)="Descripcion(resultado.id)">
            <div>
                <img src="{{resultado.thumbnail}}" class="imagen">
            </div>
            <div style="display: block; flex-direction: column;">
                <div class="valor">
                    ${{resultado.price}} <img src="../../../assets/imagenes/logocamion2.png">
                </div>
                <div class="descripcion">
                    {{resultado.title}}
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>