<div class="contenidoGeneral">
    <div class="imagen">
        <img src="../../../assets/imagenes/Logo_ML.png"/>
    </div>
    <div class="barra">
        <input type="search" id="barra" placeholder="Nunca dejes de buscar" [(ngModel)]="datosBusqueda">
    </div>
    <div class="lupa">
        <div class="botonlupa">
            <input type="button" id="botonlupa" (click)="getResultados()">
        </div>
    </div>
</div>
<div class="ruta">
    <label>Electrónica, audio y video > Ipod > Reproductores > Ipod Touch > 32GB</label>
</div>
<app-vistaresultados *ngIf="infoCargada" [data]="resultados" (clickDetalles)="datoId($event)"></app-vistaresultados>
<app-detalleproducto *ngIf="infoDetalle" [data]="detalleProducto"></app-detalleproducto>